---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<!-- Background photo -->
<div class="w3-display-container">

  <img src="https://www.w3schools.com/w3images/wedding_couple.jpg" class="w3-hide-small weddingpic w3-display-container w3-wide" alt="Lights">
  <img src="https://www.w3schools.com/w3images/wedding_couple.jpg" class="w3-hide-large w3-hide-medium weddingpic-small w3-display-container w3-wide" alt="Lights">

  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">Meison & Jason</h1>
    <h2>Are getting married</h2>
    <h2><b>17.07.2017</b></h2>
  </div>
</div>

<!--
<h1>Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
-->